<h1>My Watch Lists</h1>
<%= cl_image_tag("tzm6qijmkb6ecq7ugahw", width: 300, height: 400, crop: :fill) %>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
<% end %>
<hr>
<%= link_to 'Create a new list', new_list_path %>
